$dark-blue: #002B5B;
$dark-green: #06A788;
$soft-blue: #8FE3CF;

.navbar-home {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 80px;

  img {
    padding-top: 2%;
    width: 30%;
  }

  .nav-signup {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: white;
    // padding-left: 5%;

    &:hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
      color: white;
      transform: scale(1.02);
    }
  }

  .nav-login {
    background-color: white;
    border-color: $dark-blue;
    color: black;

    &:hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
      color: white;
    }
  }

  p {
    padding-top: 10%;
    text-align: left;
    color: $dark-green;
  }
}

// Dashboard Admin
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}